/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    background:rgb(180, 180, 180) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#wrapper {
    color: #343a40;
    /* background-color:rgb(45, 125, 230) ; on ne veut plus de l'arrière plan uni */
    background-image: url('../images/image_fond.jpg'); /* Chemin vers l'image -> on n'oublie pas de remonter à la racine ! */
    background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    padding: 30px;
}

  header h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #d6336c;
    font-size: 50px;
}
  
#calendrier {
    display: grid; /* comme sur openclassroom */
    grid-template-columns: repeat(6, 100px); /* 6 colonnes */
    grid-gap: 10px;
}
  
.fenetre {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107; /* couleur par défaut */
    color: #fff;
    font-weight: bold;
    border: 2px solid #dee2e6;
    border-radius: 20px;
    transition: transform 0.2s, background-color 0.2s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* on ajoute une ombre */
}
  
.fenetre:hover {
    transform: scale(1.1);
    background-color: #d6336c;
}


/* pour les écrans de petites tailles, notre grille passe à 4 colonnes avec des carrés plus petits et un espacement plus petit */
@media (max-width: 768px) {
    #calendrier {
        grid-template-columns: repeat(4, 80px); /* 4 colonnes */
        grid-gap: 5px;
    }
    .fenetre {
        width: 80px;
        height: 80px;
    }
}
 
/* on ajoute une classe spéciale pour l'ouverture d'une fenêtre */
.ouvert {
    transform: rotateY(180deg);
    background-color: #28a745;
    color: #fff;
}




/* Partie de styles pour la modale */
#modal {
    display: none; /* Cachée par défaut */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* La fenêtre sera au-dessus de tout autre contenu ! */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 80%;
}

#modal .modal-content p {
    font-size: 1.2rem;
    color: #333;
}




/* On stylise le bouton de fermeture */
.close {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close:hover {
    color: red; /* Change la couleur quand on passe la souris dessus */
}

/* Visible modale */
#modal.show {
    display: flex; /* Modale visible */
    opacity: 1;
    visibility: visible;
}